/*------------Colours----------------------------*/

:root {
  --background-color: #f2f2f2;
  --header-color: #4c5059;
  --section-background-color: #c5ccd9;

  --header-text-color: #f2f2f2;
  --text-color: #4c5059;
  --nav-hover-color: #c5ccd9;

  --header-border-color: #c5ccd9;
  --border-color: #4c5059;

  --link-color: #03658c;
}


/*------------Layout Styles----------------------*/

body {
  background-color: var(--background-color);
}

.container {
  margin: 0 auto;
  padding: 40px;
  max-width: 950px;
}

.breadcrumbs {
  margin: -20px 0 40px;
}

section {
  padding: 5px 0;
  margin-bottom: 20px;
}

section h2 {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--link-color);
  margin-bottom: 10px;
}


/*------------Text Styles------------------------*/

h2 {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10px;
  color: var(--text-color);
}

h3, p, li, nav {
  font-family: 'Dosis', sans-serif;
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}


/*------------Site Title Styles------------------*/

.header-container {
  background-color: var(--header-border-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 4px solid var(--link-color);
}

header {
  min-height: 120px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--header-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 830px) {
  header {
    flex-direction: column;
  }
}

.site-title {
  margin: 10px 0 0 20px;
  padding: 10px 15px;
  text-align: left;
}

.site-title a,
.site-title a:visited {
  text-decoration: none;
}

.site-title h1, .site-title h2 {
  color: var(--header-text-color);
  font-weight: normal;
  text-shadow: 1px 1px 2px var(--link-color);
}

.site-title h1 {
  font-size: 2.5rem;
  margin: 0 0 10px 0;
  border-bottom: 2px solid var(--header-text-color);
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-style: normal;
}

.site-title h2 {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
}

@media only screen and (max-width: 480px) {
  .site-title {
    margin: 10px 0 0 0;
  }

  .site-title h1 {
    font-size: 1.5rem;
  }

  .site-title h2 {
    font-size: 1rem;
  }
}


/*------------Navbar Styles----------------------*/

nav {
  margin: 0;
  padding-right: 20px;
  text-transform: uppercase;
  text-align: right;
  text-shadow: 1px 1px 2px var(--link-color);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 15px 10px 10px;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: var(--header-text-color);
  padding-bottom: 4px;
}

nav a.selected,
nav a:visited.selected {
  color: var(--nav-hover-color);
  border-bottom: 2px solid var(--nav-hover-color);
}

nav a:hover {
  color: var(--nav-hover-color);
}


/*------------Footer Styles----------------------*/

footer {
  background-color: var(--header-color);
  border-top: 4px solid var(--link-color);
  text-align: center;
  padding: 0 10px 10px 10px;
}

footer p {
  color: var(--header-text-color);
}

footer a,
footer a:visited,
footer a:hover {
  color: var(--header-text-color);
}


/*------------Index Page Styles--------------------*/

.feature-image-container {
  margin: 40px auto;
  padding: 10px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.feature-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.feature-image img {
  width: 100%;
}

.feature-image-container p {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 10px 10px 5px 10px;
}


/*------------About Page Styles----------------------*/

#exhibitions,
#honours,
#publications {
  padding-left: 20px;
}

#exhibitions li,
#honours li,
#publications li {
  margin: 10px 10px 10px 0;
}


/*------------Contact Page Styles---------------------*/

.contact-info {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-info a {
  display: block;
}


/*------------Portfolio Header Styles------------*/

.category-name {
  margin: 20px 0 40px 0;
  border-bottom: 2px solid var(--link-color);
  padding-bottom: 4px;
}

.category-name a,
.portfolio a {
  color: var(--text-color);
  text-decoration: none;
}

.category-name a:visited,
.portfolio a:visited {
  color: var(--text-color);
  text-decoration: none;
}


/*------------Portfolio Image Styles---------------*/

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio {
  width: 300px;
  background-color: var(--header-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.portfolio img {
  width: 100%;
  padding: 0;
}

.portfolio p {
  color: var(--header-text-color);
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 10px;
}


/*--------Portfolio Category Styles-----------*/

.portfolio-image-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
  padding: 10px 10px 40px 10px;
  border-bottom: 2px solid var(--link-color);
}

.portfolio-image-container__image {
  cursor: pointer;
}

.portfolio-image-container__image img {
  max-width: 800px;
  border: 1px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.portfolio-image-container__image-title {
  margin: 5px 0 15px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
}

@media only screen and (max-width: 830px) {
  .portfolio-image-container {
    flex-direction: column;
  }
}

/*------------Portfolio Lightbox Styles--------------------*/

#overlay {
  background: rgba(0,0,0,.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin-top: 2%;
  max-height: 70%;
  max-width: 70%;
  border: 2px solid white;
}

#overlay p {
  color: white;
  font-family: 'Dosis', sans-serif;
}
